{% extends 'rbase.html' %}

{% block content %}
  <!-- Contenido principal -->
  <div class="container d-flex flex-column align-items-center justify-content-center flex-grow-1">
    <div class="bg-white p-4 rounded">
        <h2 class="title text-center mb-5">Iniciar Sesión</h2>

        {% if messages %}
            <div class="alert alert-danger" role="alert">
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="post" action="{% url 'login' %}" class="d-grid gap-2">
            {% csrf_token %}

            <div class="mb-3 text-end">
                <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de Usuario:</label>
                {{ form.username }}
            </div>

            <div class="mb-3 text-end">
                <label for="{{ form.password.id_for_label }}" class="form-label">Contraseña:</label>
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>

        </form>

        <p class="text-end mt-3">¿No tienes una cuenta? <a href="{% url 'signup' %}" class="btn btn-link">Regístrate</a></p>
    </div>
  </div>
{% endblock %}
