{% extends 'rbase.html' %}  

{% block content %}
  <!-- Contenido principal -->
  <div class="container d-flex flex-column align-items-center justify-content-center flex-grow-1">
    <div class="bg-white p-4 rounded">
        <h2 class="title text-center mb-3">Iniciar Sesión</h2>

        <form method="post" action="{% url 'login' %}" class="mb-4">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </div>
        </form>

        <p>¿No tienes una cuenta? <a href="{% url 'signup' %}" class="btn btn-link">Regístrate</a></p>
    </div>
</div>
{%endblock%}